/* Hotel container */
.hotel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 90vw;
    border-radius: 10px;
    background-color: #00000018;
   
    
}
.booked{
    text-align: center;
    padding-top: 10px;
}

/* Hotel image */
.hotel-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    
    border-radius: 10px;
    margin:10px auto;
}

/* Hotel info */
.hotel-info {
    flex: 1;
}

.hotel-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.hotel-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    display: flex;
    
}


.hotel-address {
    font-size: 14px;
    color: #666;
}