/* signup.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  h3{
    
    font-size: 0.7em;
  }
  input[type="checkbox"] {
    display: none;
  }
  
  /* Style the custom checkbox */
  label {
    display: inline-block;
    position: relative;
    padding-left: 25px; /* Space for the checkbox icon */
    cursor: pointer;
  }
  
  /* Style the checkbox icon */
  label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #333; /* Border color for the checkbox */
    border-radius: 4px; /* Round the edges of the checkbox */
    position: absolute;
    left: 0;
    top: 0;
  }
  
  /* Style the checked checkbox icon */
  input[type="checkbox"]:checked + label::before {
    background-color: #333; /* Fill the checkbox when checked */
  }
  
  /* Style the checkbox label text when the checkbox is checked */
  input[type="checkbox"]:checked + label {
    color: #333;
  }