.Card {
    background: linear-gradient(#ffffff66, #ffffff77);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    position: relative;
    font-weight: bold;
}
.Extra {
    margin-top: 2vh;
}
.Info {
    margin-top: 2vh;
}
button {
    margin-top: 1vh;
}
.Card img {
    border-radius: 10px;
}

.favorite {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 5px;
    background-color: #ffffffbb;
    border-radius: 5px;
}
.favorite:hover {
    cursor: pointer;
}

.favorite:hover svg {
    color: red;
}
